<div class="blog-contents">
  <span class='new-article'>Site Author</span>
  <div class='blog-lists' >
    <div class='owner-article-list'>
      <div class='profile-card' >
        <h2 class='profile'>Profile</h2>
      </div>
      <ul class='profile-contents'>
        <li class='profile-list '>
          Name : Mocha
        </li>
        <li class='profile-list'>
          Attribute : Minecrafter
        </li>
        <li class='profile-list'>
          FreeTime : HorseRace
        </li>
        <li class='profile-list'>
          Favorite Animal : Horse, Rabbit
        </li>
        <li class='profile-description'>
          Thank you for reading this blog.<br>
          On a daily basis, this blog will output what we have learned.<br>
          I would appreciate it if you could contact me via Twitter if there are any incorrect descriptions or comments.
        </li>
      </ul>

      <div class='profile-card' >
        <h2 class='profile'>Experience</h2>
      </div>
      <ul class='profile-contents'>
        <li class='profile-list '>
          Java,  Ruby,  JavaScript,  HTML,  CSS
        </li>
      </ul>

      <div class='profile-card' >
        <h2 class='profile'>Minecraft</h2>
      </div>
      <ul class='profile-contents'>
        <li class='profile-list'>
          I'm working on a minecraft modding in Java.<br>
          It's too much fun!<br>
          It's really touching to actually move what you make!
        </li>
      </ul>
    </div>


    <div class='site-right-box'>
      <div class='blog-owner'>
        <div class='owner-img-box'>
          <%= image_tag "amoka.jpeg",  class: 'owner-img' , alt: "Oparetor Image" %>
        </div>
        <div class='owner-description'>
          <span>チャンレジ精神豊富なおっさんです。<br>愛しいうさぎのためにも頑張ります!</span>
        </div>
      </div>
    </div>
  </div>
</div>
<%= content_for(:title, '運営者情報') %>